<!-- users/templates/signin.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}登录{% endblock %}
{% block headjc %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}
{% block content %}
    <div class="login-container">
        <h2>用户登录</h2>

        <!-- 错误消息 -->
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!-- 登录表单 -->
        <form method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">用户:</label>
                <input type="text" name="username" id="id_username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id_password">密码:</label>
                <input type="password" name="password" id="id_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>


        <!-- 管理员登录链接 -->
        <div class="admin-login-link">
               <p>没有账户? <a href="{% url 'signup' %}">注册</a></p>
        <p>管理员登录？<a href="{% url 'manager_login' %}">点击这里</a></p>
        <p>总管理员登录?<a href="/admin/"> 点击这里</a></p>

    </div>

    </div>
{% endblock %}
