
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
}

.login-container {
    background-color: #fff;
    padding: 40px; /* 增加内边距 */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 增加阴影深度 */
    width: 400px; /* 增加宽度 */
    text-align: center;
    margin: 20px auto; /* 调整外边距 */
}

h2 {
    margin-bottom: 25px; /* 增加下边距 */
    font-size: 28px; /* 增加标题字体大小 */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 20px; /* 增加下边距 */
    padding: 15px; /* 增加内边距 */
    border: 1px solid #ccc;
    border-radius: 5px; /* 增加圆角大小 */
    font-size: 16px; /* 增加输入框字体大小 */
}

form button {
    padding: 15px; /* 增加内边距 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px; /* 增加圆角大小 */
    cursor: pointer;
    font-size: 18px; /* 增加按钮字体大小 */
}

form button:hover {
    background-color: #0056b3;
}

.alert {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 15px; 
    margin-bottom: 25px;
    border-radius: 5px;
}

.register-link p {
    margin-top: 20px;
    font-size: 16px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
